<h1>Hola, soy el single comic para comprar</h1>

<h1>{{selectedComic.image}}</h1>
<h1>{{selectedComic.comicName}}#{{selectedComic.volumeNumber}}</h1>
<p>${{selectedComic.price}}mxn</p>
<p>{{selectedComic.published}}</p>
<p>{{selectedComic.writer}}</p>
<p>{{selectedComic.penciler}}</p>
<p>{{selectedComic.coverArtist}}</p>
<p>{{selectedComic.description}}</p>
<p>{{selectedComic.condition}}</p>
<p>{{selectedComic.shipping}}</p>
<p>{{selectedComic.studio}}</p>

<a href="#">Buy</a>