<h1>Hola soy la pagina single comic</h1>

<h1>{{comic.comicName}} #{{comic.volumeNumber}}</h1>
<p>${{comic.price}} mxn</p>
<p>{{comic.published}}</p>
<p>{{comic.writer}}</p>
<p>{{comic.penciler}}</p>
<p>{{comic.coverArtist}}</p>
<p>{{comic.description}}</p>
<p>{{comic.condition}}</p>
<p>{{comic.shipping}}</p>
<p>{{comic.studio}}</p>